<%- include('../_header.html.ejs') %>

<p>Dear <%= firstName %>,</p>

<p>Your password was changed. If this was you, no further action is needed.</p>

<p>If this wasn't you or you believe an unauthorized person has accessed your account, please immediately reset your password. Then, contact support so we can confirm your account is secure.</p>

<p>To reset your password tap "Forgot password" on our <a href="<%= url%>">Login page</a>.</p>

<p>Sincerely,<br />The SF Life Line Team</p>

<%- include('../_footer.html.ejs') %>