.header {
  text-align: center;
  margin: 2rem 0;
}

.header > p {
  padding: 0 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formCompletion {
  background: #ebfbee;
  padding: 0.1rem 1rem;
  color: #2b8a3e;
  font-size: small;
}

@media (min-width: 48em) {
  .header {
    margin: 8.75rem 0 2rem 0;
  }
}
