.licenseHelper {
  background: #ebf4fe;
  padding: 0.1rem 1rem;
}

.licenseHelper > * {
  font-size: small;
  a {
    text-decoration: underline;
  }
}

.licenseHelper > h3 {
  font-weight: bold;
}

.button {
  background: none;
  padding: 0;
  font-size: small;
  text-decoration: underline;
  width: fit-content;
  align-self: flex-end;
}
