.login {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.banner {
  display: none;
}

.header {
  text-align: center;
  margin: 2rem 0;
}

.email {
  margin-bottom: 1.5rem;
}

.password {
  margin-bottom: 4rem;
}

.anchor {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}

@media (min-width: 48em) {
  .login {
    display: flex;
    height: 100vh;

    & > * {
      flex: 1;
    }
  }

  .header {
    margin: 8.75rem 0 2rem 0;
  }

  .banner {
    display: block;
    width: 100%;
    height: 100%;
    background-color: aqua;
  }
}

.loginBtn {
  margin-top: 1.5rem;
}
