.auth-layout {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.banner {
  display: none;
}

@media (min-width: 48em) {
  .auth-layout {
    display: flex;
    height: 100vh;

    & > * {
      flex: 1;
    }
  }

  .banner {
    display: block;
    width: 100%;
    height: 100%;
    background-color: aqua;
  }
}
