.authLayout {
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
}

.banner {
  display: none;
}

.form {
  padding: 2rem 1rem;
}

@media (min-width: 48em) {
  .authLayout {
    display: flex;
    min-height: 100vh;

    & > * {
      flex: 1;
    }
  }

  .banner {
    display: block;
    width: 100%;
    min-height: 100%;
    background-color: var(--mantine-color-blue-2);
    background-size: cover;
  }

  .form {
    padding: 4rem 1rem;
  }
}
