<%- include('../_header.html.ejs') %>

<% if (firstName) { %><p>Dear <%= firstName %>,</p><% } %>

<p>You've been invited to create an account with San Francisco Life Line. To accept, clicking on the following link:</p>

<%- include('../_button.html.ejs', { label: 'Accept Invite', url }) %>

<p>Sincerely,<br />
The SF Life Line Team</p>

<%- include('../_footer.html.ejs') %>
