.tableWrapper {
  margin-bottom: var(--mantine-spacing-xs);
}

.table {
  border-radius: 7px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.patientsContainer {
  position: relative;
  margin-bottom: var(--mantine-spacing-lg);
}

.button {
  margin-top: var(--mantine-spacing-lg);
}
