.navbar {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.title {
  margin-top: 1rem;
  margin-left: 1rem;
}

.title > p {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  padding-left: var(--mantine-spacing-md);
}

.link {
  display: block;
}

.sublink {
  display: flex;
  gap: 0.5rem;
}

.linksInner {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  padding-left: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
}

.navbarLink {
  display: block;
}

.sectionHeaderButton {
  margin-top: 1rem;
}

.label {
  font-size: 0.875rem;
}

.section {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.footer {
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
