.datatableWrapper {
  border-radius: 12px;
  overflow: hidden;
  margin: 0 2rem;
  margin-bottom: var(--mantine-spacing-xs);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.header > * {
  display: inline-block;
}

.actions {
  display: inline-flex;
  gap: 1rem;
}

.relative {
  position: relative;
}

.badge {
  position: absolute;
  top: -0.35rem;
  right: -0.25rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  h3 {
    font-weight: bold;
    font-size: 18px;
    margin-block: 0;
  }

  h2 {
    p {
      font-size: 14px;
      color: grey;
      margin-block: 8px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    gap: 12px;
  }
}
