.boldText {
  font-weight: 600;
  margin-top: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-sm);
}

.patientInfoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  text-align: center;
  gap: var(--mantine-spacing-sm);
}

.patientInfoContainer p:nth-child(-n + 3) {
  font-weight: 600;
  margin-bottom: 0;
}

.patientInfoContainer p:nth-child(n + 4) {
  margin-top: 0;
}

.sectionTitle {
  font-size: var(--mantine-font-size-xl);
  font-weight: 600;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);
}

.titleRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-md);
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--mantine-spacing-xl);
}

.contactRow {
  gap: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-xs);
}

.contactInfoColumnTitle {
  font-weight: 600;
  font-size: var(--mantine-font-size-lg);
}

.medicalInfoPills {
  margin-right: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-sm);
}

@media (min-width: 768px) {
  .patientInfoContainer {
    text-align: left;
    width: 70%;
  }

  .details {
    max-height: 100vh;
    max-height: 100dvh;
    overflow-y: auto;
  }
}
