.layout {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'head'
    'main';
}

.layout-header {
  grid-area: head;
}

.layout-content {
  grid-area: main;
}

.layout-sidebar {
  display: none;
  grid-area: sidebar;
}

@media (min-width: 48em) {
  .layout-header {
    display: none;
  }
  .layout {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'sidebar main'
      'sidebar main';
  }

  .layout-sidebar {
    display: block;
    max-width: 18rem;
  }
}
