.layout {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas:
    'head'
    'main';
}

.layout__header {
  grid-area: head;
  position: fixed;
  width: 100%;
  background-color: white;
}

.layout__content {
  grid-area: main;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.layout__sidebar {
  display: none;
  grid-area: sidebar;
}

@media (min-width: 48em) {
  .layout__header {
    display: none;
  }

  .layout {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'sidebar main'
      'sidebar main';
  }

  .layout__sidebar {
    display: block;
    max-width: 19.5rem;
  }

  .layout__content {
    max-height: 100vh;
    max-height: 100dvh;
    overflow-y: auto;
    padding-top: 1rem;
  }
}

@media print {
  .layout {
    min-height: none;
  }

  .layout__sidebar {
    display: none;
  }
}
