.layout {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;

  display: grid;
  grid-template-rows: 100% 1fr 100%;
  grid-template-areas:
    'head'
    'main'
    'foot';
}

.layout-header {
  grid-area: head;
}

.layout-content {
  grid-area: main;
}

.layout-footer {
  grid-area: foot;
}

.layout-sidebar {
  display: none;
  grid-area: sidebar;
  padding: 0 var(--mantine-spacing-md, 1rem);
}

@media (min-width: 48em) {
  .layout {
    grid-template-areas:
      'head head head'
      'sidebar main main'
      'foot foot foot';
  }

  .layout-sidebar {
    display: block;
    max-width: 18rem;
  }
}
