name: CI
on: [push]
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    container: node:20.11.0-bookworm
    services:
      db:
        image: postgres:15.5
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Check Formatting
        run: npm run format:check
      - name: Run ESLint
        run: npm run lint --workspaces
      - name: Initialize database, generate Prisma client
        run: cd server; npx prisma migrate reset --force
        env:
          DATABASE_URL: postgresql://postgres@db/app
      - name: Run Tests
        run: npm test
        env:
          DATABASE_URL: postgresql://postgres@db/app
